# Projeto 1 - Ci√™ncia dos Dados

Nome: Andr√© Brito

Nome: Gabriela Albuquerque

Aten√ß√£o: Ser√£o permitidos grupos de tr√™s pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisar√£o fazer um question√°rio de avalia√ß√£o de trabalho em equipe

___
Carregando algumas bibliotecas:

In [20]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [21]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
c:\Users\m_gab\OneDrive\√Årea de Trabalho\Insper\2 semestre\Cdados\Projeto 1\CdadosP1

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [22]:
def cleanup(text):
    punctuation = '[!-.:?;]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed.strip()

In [23]:
filename = 'iPhone 13.xlsx'

In [24]:
train = pd.read_excel(filename)
train.Treinamento = train['Treinamento'].apply(cleanup)
train.head(5)

                                         Treinamento  Classificador
0          algu√©m me da um iphone 13 to precisando ü•≤              1
1  @vicmoura14 nem eu afinal aquele iphone 13 n v...              0
2       os outros 4 mentiram üòÇ https//tco/vleieec9vm              0
3  @dosievil um macbook air 13 2 iphone 11 pro ma...              0
4  j√° t√° curioso pelo iphone 13 https//tco/wk8ibo...              1

In [25]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.Teste = test['Teste'].apply(cleanup)
test.head(5)

                                               Teste  Classificador
0  @felipeneto o iphone 13 sem entrada de carrega...              1
1  iphone 13 n vir com entrada pra carregador e o...              1
2   iphone 13 nem lan√ßou e eu j√° t√¥ querendo comprar              1
3  iphone 13 vir sem entrada pra carregador te ob...              1
4  @kayanes7 @lara_ray002 @anonymouscrec poise ma...              0

___
## Classificador autom√°tico de sentimento

Fa√ßa aqui uma descri√ß√£o do seu produto e o que considerou como relevante ou n√£o relevante na classifica√ß√£o dos tweets.

O produto √© o iPhone 13, que tem o lan√ßamento previsto para o m√™s de setembro de 2021. Foram considerados relevantes tweets que falam algo sobre o aparelho mas sem nenhum tom de piada ou meme.

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [26]:
# Separar os Tweets em categorias
iPhone13_relevante = train[train['Classificador'] == 1]
iPhone13_nao_relevante = train[train['Classificador'] == 0]

In [27]:
# Salvamento dos tweets como strings
Tweets_relevantes_Text = ""
for i in iPhone13_relevante['Treinamento']:
  Tweets_relevantes_Text += str(i)


Tweets_nao_relevantes_Text = ""
for i in iPhone13_nao_relevante['Treinamento']:
  Tweets_nao_relevantes_Text += str(i)

todos_tweets_relevantes = Tweets_relevantes_Text.split()
todos_tweets_irrelevantes = Tweets_nao_relevantes_Text.split()

serie_tweets_relevantes = pd.Series(todos_tweets_relevantes)
serie_tweets_irrelevantes = pd.Series(todos_tweets_irrelevantes)

In [28]:
tabela_relevantes = serie_tweets_relevantes.value_counts()
tabela_relevantes

iphone          167
13              162
o               128
de               83
que              74
               ...
podem             1
bicho             1
3¬™                1
elon              1
olhardigital      1
Length: 1095, dtype: int64

In [29]:
tabela_relevantes_relativa = serie_tweets_relevantes.value_counts(True)
tabela_relevantes_relativa

iphone          0.051496
13              0.049954
o               0.039470
de              0.025594
que             0.022818
                  ...
podem           0.000308
bicho           0.000308
3¬™              0.000308
elon            0.000308
olhardigital    0.000308
Length: 1095, dtype: float64

In [30]:
tabela_irrelevantes = serie_tweets_irrelevantes.value_counts()
tabela_irrelevantes

o                  106
iphone             104
13                  85
do                  54
e                   41
                  ...
harry                1
fudido@jnkdress      1
krl                  1
constata             1
mesmo                1
Length: 667, dtype: int64

In [31]:
tabela_irrelevantes_relativa = serie_tweets_irrelevantes.value_counts(True)
tabela_irrelevantes_relativa

o                  0.055381
iphone             0.054336
13                 0.044410
do                 0.028213
e                  0.021421
                     ...
harry              0.000522
fudido@jnkdress    0.000522
krl                0.000522
constata           0.000522
mesmo              0.000522
Length: 667, dtype: float64

In [32]:
tweets = Tweets_relevantes_Text + Tweets_nao_relevantes_Text

todos_tweets = tweets.split()

serie_todos_tweets = pd.Series(todos_tweets)

In [33]:
tabela_tweets = serie_todos_tweets.value_counts()
tabela_tweets

iphone              271
13                  247
o                   234
de                  117
e                   107
                   ...
@lojinhadoiphone      1
entregas              1
13novos               1
parei                 1
adm                   1
Length: 1536, dtype: int64

In [34]:
tabela_tweets_relativa = serie_todos_tweets.value_counts(True)
tabela_tweets_relativa

iphone              0.052560
13                  0.047905
o                   0.045384
de                  0.022692
e                   0.020753
                      ...
@lojinhadoiphone    0.000194
entregas            0.000194
13novos             0.000194
parei               0.000194
adm                 0.000194
Length: 1536, dtype: float64

In [35]:
def suavizacao_laplace(palavra, classificao):
    # Classifica√ß√£o para irrelevante
    if classificao == 0:
      if palavra in tabela_irrelevantes:
        return (tabela_irrelevantes[palavra] + 1) / (tabela_irrelevantes.sum() + tabela_tweets.sum())
      else:
        return 1 / (tabela_irrelevantes.sum() + tabela_relevantes.sum())
      
    # Classifica√ß√£o para relevante
    if classificao == 1:
      if palavra in tabela_relevantes:
        return (tabela_relevantes[palavra] + 1) / (tabela_relevantes.sum() + tabela_tweets.sum())
      else:
        return 1 / (tabela_relevantes.sum() + tabela_tweets.sum())

In [36]:
def calcula_probabilidade(tweet):
  probRelevante_laplace = []
  probIrrelevante_laplace = []
  probRelevante = 1
  probIrrelevante = 1

  for i in tweet:
    probIrrelevante_laplace.append(suavizacao_laplace(i, 0))
    probRelevante_laplace.append(suavizacao_laplace(i, 1))

  for i in probIrrelevante_laplace:
    probIrrelevante *= i
  
  for i in probRelevante_laplace:
    probRelevante *= i

  if probRelevante > probIrrelevante:
    return 1
  else:
    return 0

In [37]:
def classificador(tweets):
  lista_tweets = []
  lista_tweets_prob = []

  for i in tweets['Teste']:
    lista_tweets.append(i.lower())
  
  for i in lista_tweets:
    tweets_splitados = i.strip().split()
    lista_tweets_prob.append(calcula_probabilidade(tweets_splitados))

  return lista_tweets_prob

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

In [38]:
resultado = classificador(test)

test['Classificador Naive Bias'] = resultado
test.head(30)

,Teste,Classificador,Classificador Naive Bias
0,@felipeneto o iphone 13 sem entrada de carrega...,1,1
1,iphone 13 n vir com entrada pra carregador e o...,1,1
2,iphone 13 nem lan√ßou e eu j√° t√¥ querendo comprar,1,1
3,iphone 13 vir sem entrada pra carregador te ob...,1,1
4,@kayanes7 @lara_ray002 @anonymouscrec poise ma...,0,1
5,ai voc√™s que s√£o ricos e v√£o trocar de iphone ...,0,1
6,@jotaenii7 cnf iphone 13 vai chegar,1,1
7,@joaquinteixeira programa√ß√£o dia07vaisergigant...,0,0
8,comunica√ß√£o por sat√©lite do iphone 13 ser√° exc...,1,1
9,@ruivo367 @_lasg @mariliamoscou e v√°rias outra...,0,1
10,quem ai vai comprar o iphone 13,1,0
11,@_cameraman_13 @viniccius13 vou comprar 13 iph...,1,1
12,eu agora esperando o anonymous vazar o cart√£o ...,0,0
13,@felipeneto felipe pq tu n√£o compra o iphone 1...,1,1
14,s√≥ se for o iphone 13 n√© melhor me dar um carr...,1,1
15,gente e o iphone 13 que nao tem entrada pra ca...,1,1
16,@chicobarney chico ser√° que meu iphone est√° qu...,0,1
17,@vlucasrocha quero q vaze o cart√£o do bolso pr...,0,0
18,a apple j√° podia lan√ßar o iphone 13 despachems...,0,1
19,o iphone 13 vai lan√ßar mas ex a questao o 12 ...,1,1
20,apple marca lan√ßamento do iphone 13 em 14 de s...,1,1
21,comunica√ß√£o por sat√©lite do iphone 13 ser√° exc...,1,1
22,new post capas de silicone apple aparecem em v...,1,1
23,√© agora q os anonymous vaza a senha do cart√£o ...,0,0
24,mamae cade meu iphone 13 https//tco/xu8xbaxtid,1,0
25,spotify premium √© melhor que um iphone 13 max sim,0,1
26,iphone 13 comunica√ß√£o por sat√©lite ser√° uma re...,1,1
27,eu te amo tanto mais tanto que se um dia me of...,0,0
28,vou ficar acordado essa madruga vai que o anon...,0,0
29,acabei de lembrar q com 13 anos eu passei o me...,0,0

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfei√ßoamento:

Trabalhos que conseguirem pelo menos conceito B v√£o evoluir em conceito dependendo da quantidade de itens avan√ßados:

* IMPLEMENTOU outras limpezas e transforma√ß√µes que n√£o afetem a qualidade da informa√ß√£o contida nos tweets. Ex: stemming, lemmatization, stopwords
* CORRIGIU separa√ß√£o de espa√ßos entre palavras e emojis ou entre emojis e emojis
* CRIOU categorias intermedi√°rias de relev√¢ncia baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante. Pelo menos quatro categorias, com adi√ß√£o de mais tweets na base, conforme enunciado. (OBRIGAT√ìRIO PARA TRIOS, sem contar como item avan√ßado)
* EXPLICOU porqu√™ n√£o pode usar o pr√≥prio classificador para gerar mais amostras de treinamento
* PROP√îS diferentes cen√°rios para Na√Øve Bayes fora do contexto do projeto
* SUGERIU e EXPLICOU melhorias reais com indica√ß√µes concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item 6. Qualidade do Classificador a partir de novas separa√ß√µes dos tweets entre Treinamento e Teste descrito no enunciado do projeto (OBRIGAT√ìRIO para conceitos A ou A+)

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**