In [28]:
import pandas as pd
from numpy import arange
import re

In [29]:
def cleanup(text):
    punctuation = '[!-.:?;]' # Note que os sinais [] s√£o delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

In [30]:
dados = pd.read_excel('iPhone 13.xlsx', sheet_name='Treinamento') # Selecionar a "p√°gina"

In [31]:
dados.describe()

       Classificador
count      300.000000
mean         0.663333
std          0.473359
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000

In [32]:
dados.head()

                                         Treinamento  Classificador
0         algu√©m me da um iphone 13. to precisando ü•≤               1
1  @vicmoura14 nem eu afinal aquele iphone 13 n v...               0
2     os outros 4 mentiram üòÇ https://t.co/vleieec9vm               0
3  @dosievil um macbook air 13, 2 iphone 11 pro m...               0
4  j√° t√° curioso pelo iphone 13? https://t.co/wk8...               1

In [33]:
dados_limpos = dados
dados_limpos.Treinamento = dados_limpos['Treinamento'].apply(cleanup)

In [34]:
dados_limpos

                                           Treinamento  Classificador
0            algu√©m me da um iphone 13 to precisando ü•≤               1
1    @vicmoura14 nem eu afinal aquele iphone 13 n v...               0
2         os outros 4 mentiram üòÇ https//tco/vleieec9vm               0
3    @dosievil um macbook air 13 2 iphone 11 pro ma...               0
4    j√° t√° curioso pelo iphone 13 https//tco/wk8ibo...               1
..                                                 ...             ...
295  um em cada cinco usu√°rios de android mudaria p...               1
296  iphone 13 sem entrada pro carregador n stresse...               1
297  vem a√≠ o iphone 13 apple confirma evento para ...               1
298  @dudulacraia @ursa_1981 @food_porn17 @breuiil ...               1
299  lan√ßamento do iphone 13 o que esperar de ficha...               1

[300 rows x 2 columns]